{{ if isset .Site.Params "teams" }}
{{ if .Site.Params.teams.enable }}
{{ if gt (len .Site.Data.teams) 0 }}
<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading text-center">
          <h2>{{ .Site.Params.teams.title }}</h2>
        </div>

        <p class="lead">
          {{ .Site.Params.teams.subtitle }}
        </p>

        <ul class="owl-carousel customers">
          {{ range .Site.Data.teams }}
          <li class="item" title="{{ .name }}">
            {{ if .url }}
            <a href="{{ .url }}" target="_blank">
              <!-- <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" /> -->
              <img src="img/portfolio-2.jpg" alt="{{ .name }}" class="img-responsive" />
            </a>
            {{ else }}
            <!-- <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" /> -->
            <img src="img/portfolio-2.jpg" alt="{{ .name }}" class="img-responsive" />
            {{ end }}
			<h3> {{ .name }} </h3>
			<p> {{ .league }} </p>
          </li>
          {{ end }}
        </ul>
        <!-- /.owl-carousel -->
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
