<div class="main-container">
  <div class="main wrapper clearfix">
	<!--aside>
	  <h3>Otra información</h3>
	  <ul>
		<li>
		  Horarios de <a href="entrenamientos.html">entrenamiento en arena</a>.
		</li>
	  </ul>
	</aside-->
	<article>
	<header>
		<style>
		  td{ background-color:#45b5e6 }
		  td:hover { background-color:#fae768 }
		  tr { border:none }
		  a { color: black; display: block; text-decoration: none; }
		</style>
	</header>
		<h1>Voley-Playa</h1>
		<p>
		  Bienvenido a la sección de voley-playa del ADV
		  Miguelturra. Aquí encontrarás información sobre todas las
		  actividades de arena que realizamos durante la temporada
		  estival.
		</p>

		<table style="border-spacing: 10pt; border-collapse: separate">
		<tr>
		  <td>
			<a style="padding: 1em 2%;" href="provincial/">Campeonato Provincial</a>
		  </td>
		  <td>
			<a style="padding: 1em 2%;" href="regional/">Campeonato Regional de CLM</a>
		  </td>
		  <td>
			<a style="padding: 1em 2%;" href="nacional/">Campeonato de España</a>
		  </td>
		</tr>
		<tr>
		  <td>
			<a style="padding: 1em 2%;" href="clinic/">Clinic de Voley-Playa</a>
		  </td>
		  <td>
			<a style="padding: 1em 2%;" href="torneo/">Torneo Anual de Voley-Playa</a>
		  </td>
		</tr>
	  </table>
	</article>
  </div> <!-- #main -->
</div> <!-- #main-container -->
