<div class="header-container">
  <header class="wrapper clearfix">
	<h1 class="title">
	  {{ .Title }}
	</h1>
	<nav>
	  <ul>
		<li><a href="{{ .Site.BaseURL }}provincial/">Provincial</a></li>
		<li><a href="{{ .Site.BaseURL }}regional/">Regional</a></li>
		<li><a href="{{ .Site.BaseURL }}nacional/">Nacional</a></li>
		<li><a href="{{ .Site.BaseURL }}clinic/">Clinic</a></li>
		<li><a href="{{ .Site.BaseURL }}torneo/">Torneo</a></li>
		<!-- <li><a href="http://www.advmiguelturra.org/vplaya/cursos/">Cursos</a></li> -->
	  </ul>
	</nav>
  </header>
</div>
