/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

img {
	width: 100%;
}

td,th {
	padding: 0 0.5em;
}

.lead {
	text-align: center;
}
